* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  font: $font-primary;
  color: $font-color-primary;
  color: red;
  height: 100%;
  background: $bg-primary;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: inherit;
}

.error {
  color: $font-color-error;
}